"*":
  "atom-beautify":
    general:
      _analyticsUserId: "704fb90d-a755-4d1b-8e31-1deeacb37112"
  "atom-ctags":
    extraTagFiles: "gems.tags"
  "autocomplete-ctags": {}
  "autocomplete-plus":
    suppressActivationForEditorClasses: [
      "narrow"
    ]
  "base16-syntax":
    scheme: "Ashes"
    style: "Dark"
  core:
    allowPendingPaneItems: false
    customFileTypes:
      "source.ruby": [
        "Seedfile"
        "Cartfile"
      ]
      "source.shell": [
        ".localrc"
      ]
      "source.yaml": [
        "Procfile"
        "yml.example"
      ]
    disabledPackages: [
      "symbols-view"
    ]
    packagesWithKeymapsDisabled: [
      "atom-beautify"
      "emmet"
      "rails-rspec"
      "git-time-machine"
      "recent-files-fuzzy-finder"
    ]
    telemetryConsent: "no"
    themes: [
      "native-ui"
      "Base16-Chalk-Dark"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    preferredLineLength: 120
    showInvisibles: true
  emmet:
    useEmmetComments: true
  "exception-reporting":
    userId: "b1bf6432-d888-4164-882b-355f17515f2b"
  "file-types":
    $debug: true
    "**/.env*": "source.shell"
    "**/app/controllers/**/*_controller.rb": "source.ruby.rails"
    "**/app/models/*.rb": "source.ruby.rails"
  keystroke:
    commands: [
      {
        name: "leader-yank-line"
        keystroke: "\" * Y"
      }
      {
        name: "leader-put-after"
        keystroke: "\" * p"
      }
      {
        name: "leader-put-before"
        keystroke: "\" * P"
      }
    ]
  "linter-rubocop":
    command: "bundle exec rubocop"
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 72
  "markdown-preview":
    useGitHubStyle: true
  narrow:
    GitDiffAll:
      closeOnConfirm: false
    Search:
      closeOnConfirm: false
    SelectFiles:
      rememberQuery: true
    confirmOnUpdateRealFile: false
  "rails-transporter": {}
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "tree-view": {}
  "vim-mode-clipboard-plus":
    useVimModePlus: true
  "vim-mode-plus":
    highlightSearchExcludeScopes: []
    useClipboardAsDefaultRegister: false
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
