'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  '-': 'choose-pane:start'
  # 'm m': 'choose-pane:focus-last-focused'

'.markdown-preview':
  '-': 'choose-pane:start'
  # 'm m': 'choose-pane:focus-last-focused'

# For tree-view
'.tree-view':
  '-': 'choose-pane:start'
  # 'm m': 'choose-pane:focus-last-focused'

# Map '-', so that I can focus last-focused element by typing `-` twice.
'atom-text-editor#choose-pane-editor':
  '-': 'choose-pane:last-focused'
